[app]
name = "mflow"
key  = "this is your app key"

[http]
host = "127.0.0.1"
port = 8090

[grpc]
host = "127.0.0.1"
port = 18090

[mcenter]
address = "127.0.0.1:18010"
client_id = "EyjyubM29WAixq4H2ekKvNn6"
client_secret = "lOeOq7eMF4HBRkMUyNR48AHDgn3XghXy"

[mongodb]
endpoints = ["127.0.0.1:27017"]
username = "mflow"

[log]
level = "debug"

[log.file]
enable = true

[trace]
enable = false